button {
  width: 120px;
  height: 60px;
  background-color: lightgrey;

  align-items: center;
  justify-content: center;

  border-radius: 3px;
  font-family: "Trebuchet MS";
  font-weight: 400;
  font-size: 18px;

  border: 0px;
}
