.container-item {
  width: 100%;
  height: 100px;
  background-color: lightcyan;
  gap: 10px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 20px 10px 0px 20px;
  color: white;
  li {
    list-style: none;
    text-decoration: none;
    font-style: normal;
    font-family: "Roboto", sans-serif;

    font-size: 13px;
  }
  &:hover {
    background-color: rgba(1, 46, 7, 0.1);
  }
  span {
    justify-self: flex-end;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: 1px solid white;
    height: 22px;
    width: 22px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
