aside {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  height: 80vh;
  margin: auto;
  padding: 44px 44px;
  border-radius: 8px;

  margin-right: 160px;
  align-items: center;
  background-color: white;
}
